*{
    margin: 0px;
    padding: 0px;
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 100;
}

.navegacion-container{
    background-color: whitesmoke;
    height: 15vh;
}

.navegacion-title{
    display: flex;
    justify-content: center;
    padding-left: 40vw ;
}

.title{
    font-family: 'PT Serif', serif;
    font-size: 50px;
    color: black;    
}

.navegacion-div{
    justify-content: center;
    width: 40vw;
}

.navegacion-div :hover {
    text-decoration:underline;
    color: black;
}

.boton-nav-div{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;
}


.barra-secciones{
    display: flex;
    justify-content: center;
    background-color: rgb(32, 30, 30);
    height: 10vh;
}

.barra-list{
    display: flex;
    flex-direction: row;
    padding-left: 15vw;
}

.barra-item{
    list-style: none;
    padding: 15px 40px 15px 40px; 
    text-transform: uppercase;
}

.barra-item :hover {
    transform: scale(0.9);
}

.main-container{
    padding-top: 30vh;
}

.parrafo-carrousel{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: black;
    padding-bottom: 40vh;
}

.carrousel-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    margin: 5px;
}

.section-productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 2vw;
}

#prendas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.agregar {
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 10px;
}

.agregar:hover {
    transform: scale(0.98);
}

#carritoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-left: 18em;
    margin-bottom: 8em;
    background-color: whitesmoke;
    border-top: 2px rgb(0, 110, 255) solid;
    width: 60%;
}

#carritoSection .tituloCarrito {
    text-align: center;
    font-size: 25px;
}

#vaciar {
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 10px;
}

#vaciar:hover {
    transform: scale(0.98);
}

#carritoSection h2 {
    text-align: center;
    font-size: 17px;
    margin-top: 2em;
}

#carrito {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.productoCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7em;
    align-items: center;
}

.productoCarrito img {
    width: 8em;
    height: auto;
}

.botonBorrar {
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 110, 255);
    border-color: transparent;
}

.total {
    text-align: center;
    font-size: 20px;
    color: black;
}

.terminarCompra {
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 10px;
    border: transparent;
    color: white;
    background-color: rgb(0, 110, 255);
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-top: 10px ridge rgb(32, 30, 30);
}

.detalle {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
}

.detalle img {
    width: 9em;
    height: auto;
}

.seguir {
    padding: 0.4em 1em 0.4em 1em;
    color: white;
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    text-decoration: none;
}

.checkout {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
    margin-top: 3em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

#detalle {
    width: 50%;
}

#detalle h2 {
    text-align: center;
    letter-spacing: 2px;
}

#detalle h3 {
    text-align: center;
    letter-spacing: 2px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#form{
    width: 90%;
    gap: 2em;
}

#form input{
    border-style: none;
    border-bottom: 1px black solid;
    text-align: center;
    padding: 0.2em;
    color: black;
}

#form #submit{
    padding: 0.4em 1em 0.4em 1em;
    color: white;
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    text-decoration: none;
}

.comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
}

#confirmacion{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 10px;
    padding: 2em;
}

.sobre-nosotros{
    padding-top: 30vh;
}

.sobre-nosotros-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sobre-nosotros-div h2 {
    font-size: 50px;
    font-family: 'Merriweather', serif;
    padding: 15px;
}

.sobre-nosotros-div p {
    font-size: 15px;
    font-family: 'Merriweather', serif;
    padding: 15px;
}